.container {
  margin-top: 20px;
}

.nav {
 margin-left: -20px;
 margin-top: -20px;
 margin-bottom: 10px;
}

.row  {
  margin-bottom: 5px;
}


[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

[class*=" head"] {
  background-color: #428bca;
  color: #ffffff;
  font-weight: bold;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color: #428bca;
}

.img-responsive{
  width: 10%; 
}

/*to remove? I use img-responsive, not btn*/
.btn-delete{
  background: url("../img/delete.png") no-repeat;
  cursor:pointer;
  border: none;
}



