<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Add/Edit Security</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/popup.css" %}" rel="stylesheet">
    <!-- Bootstrap scripts -->
    <script src="{% static "js/jquery.12.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom scripts -->
    <script src="{% static "js/popup.js" %}"></script>


  </head>

  <body>

	<form action="" method="post">

	  <div class="container">
		  <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    Add/Edit {{yid}} to {{portfolioName}}
			    </div>
            </div>
            <div class="row">
				<div class="col-md-2">
					<label>Security</label>
				</div>
				<div class="col-md-4">
					<label id="msg_security">{{yid}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label for="in_position">Position</label>
				</div>
				<div class="col-md-4">
					<input class="form-control" 
						id="in_position" placeholder="Enter Position...">
				</div>
			</div>
		  </div>
		  <span/>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-1">
                    <button class="btn btn-danger popup_btn"
                        onClick="">Cancel
                    </button>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
				    <button class="btn btn-default popup_btn"
					   onClick="close_popup('popup_edit.html',true,true);">Cancel
                    </button>
                </div>
                <div class="col-md-1">
				    <button type="submit" 
					   class="btn btn-default popup_btn">Save
                    </button>
				</div>
			</div>
		  </div>
	  </div>

	</form>

  </body>

</html>
