<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Edit Security</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/popup.css" %}" rel="stylesheet">
    <!-- Bootstrap scripts -->
    <script src="{% static "js/jquery.12.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom scripts -->
    <script src="{% static "js/popup.js" %}"></script>

  </head>

  <body>

	<form>

	  <div class="container">
		  <div class="form-group">
			<div class="row">
				<div class="col-md-2">
					<label>Security</label>
				</div>
				<div class="col-md-2">
					<label id="msg_security">TSCO</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label>Price</label>
				</div>
				<div class="col-md-2">
					<label id="price_sec">107.61</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label for="in_position">Position</label>
				</div>
				<div class="col-md-2">
					<input id="in_position" placeholder="60">
				</div>
			</div>
		  </div>
		  <span/>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
				  <button class="btn btn-default popup_btn"
					onClick="close_popup('popup_add.html',true,true);">Cancel</button>
				  <button type="submit" 
					class="btn btn-default popup_edit_btn">Edit
					</button>
				</div>
			</div>
		  </div>
	  </div>

	</form>

  </body>

</html>
